tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: lightsalmon};

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightsalmon;
  color: black;
}

table {
    margin: 0px auto;
  }
  
td, th {
border: 1px solid #ddd;
padding: 4px;
font-size: 14px;
}

td.propHeader{
font-size: 16px;
background-color: lightgray;
}